NeuCMS.Platforms.MVC3/Service References/ContentService/ContentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NeuCMS.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NeuCMS.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17255/Services/ContentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ContentQueryCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dimensions" nillable="true" type="tns:ArrayOfDimensionCriteria" />
      <xs:element minOccurs="0" name="MetadataCriteria" nillable="true" type="tns:ArrayOfMetadataCriteria" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSpace" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Pages" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentQueryCriteria" nillable="true" type="tns:ContentQueryCriteria" />
  <xs:complexType name="ArrayOfDimensionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DimensionCriteria" nillable="true" type="tns:DimensionCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDimensionCriteria" nillable="true" type="tns:ArrayOfDimensionCriteria" />
  <xs:complexType name="DimensionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="DimensionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DimensionValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DimensionCriteria" nillable="true" type="tns:DimensionCriteria" />
  <xs:complexType name="ArrayOfMetadataCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetadataCriteria" nillable="true" type="tns:MetadataCriteria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetadataCriteria" nillable="true" type="tns:ArrayOfMetadataCriteria" />
  <xs:complexType name="MetadataCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="MetaDataName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetaDataValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataCriteria" nillable="true" type="tns:MetadataCriteria" />
  <xs:complexType name="ContentQueryResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfContentQueryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentQueryResults" nillable="true" type="tns:ContentQueryResults" />
  <xs:complexType name="ArrayOfContentQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentQueryResult" nillable="true" type="tns:ContentQueryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentQueryResult" nillable="true" type="tns:ArrayOfContentQueryResult" />
  <xs:complexType name="ContentQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentQueryResult" nillable="true" type="tns:ContentQueryResult" />
</xs:schema>