NeuCMS.Platforms.MVC3/Service References/ContentService/ContentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17255/Services/ContentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NeuCMS.Services" />
  <xs:element name="QueryContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whereClause" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NeuCMS.Services" minOccurs="0" name="QueryContentResult" nillable="true" type="q1:ContentQueryResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>