NeuCMS.Platforms.MVC3/Service References/ContentService/ContentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NeuCMS.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NeuCMS.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContentQueryResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfContentQueryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentQueryResults" nillable="true" type="tns:ContentQueryResults" />
  <xs:complexType name="ArrayOfContentQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentQueryResult" nillable="true" type="tns:ContentQueryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentQueryResult" nillable="true" type="tns:ArrayOfContentQueryResult" />
  <xs:complexType name="ContentQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentQueryResult" nillable="true" type="tns:ContentQueryResult" />
</xs:schema>